<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum scale =1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Prickl Design</title>

    <style>
      p { align-content: center;
        text-align: center;}
      .navbar {
      overflow: hidden;
       
      position: fixed; 
      top: 0; 
      /*width: 100%;  Full width */
      .body 
        { background-image: url('https://images.pexels.com/photos/1555199/pexels-photo-1555199.jpeg?cs=srgb&dl=pexels-aleksandar-pasaric-1555199.jpg&fm=jpg');
        }
      /*left:0;*/
      }

    </style>
  </head>


    <!--STUFF HERE  background-color:yellow;-->
<body style="background-image: url('https://images.pexels.com/photos/1555199/pexels-photo-1555199.jpeg?cs=srgb&dl=pexels-aleksandar-pasaric-1555199.jpg&fm=jpg')">

    <nav class="navbar navbar-expand-lg navbar-light" 
    style="background-color: #000000;right:0; margin: 50px 80px 100px 100px;height: 60px">

     

      <li> 
        <p class="fs-4 text-light" align="justify-content-center">
           <img src="https://i.pinimg.com/564x/5c/4e/64/5c4e64d67d357c98a5e02a3613c6aff4.jpg" height="50px" width=auto">
          &#916 PRICKL&nbsp;&nbsp;
       </p>
      </li>

    </nav>

    <nav class="navbar top-bar fixed navbar-expand-lg navbar-light bg-light nav justify-content-center" 
    style="left:0; margin: 120px 80px 100px 100px;">

      <p class="fs-5 text-dark" style="font-family: Consolas">
      &nbsp;&nbsp;&nbsp; Hello there, I am coming soon :) Stay tuned and subscribe to your right &nbsp;&nbsp;&nbsp;
      </p> 

    </nav>

    <nav class="navbar navbar-expand-lg navbar-light" 
    style="background-color: #000000;right:0; margin: 250px 80px 100px 100px;height: 60px" >

      <a class="nav-link" href="mailto:hana@prickl.com" style="color: #333333"> 
      
          <img src="https://i.pinimg.com/564x/2b/a4/ad/2ba4adbcb56685dd5ad51810c625e39c.jpg" height="25" width=auto >
       
      </a>  

    </nav>
      {% block content %}


      {% endblock %}
  
    <!--END STUFF HERE-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

 
  </body>
</html>