
{% extends 'base.html' %}



{% block content %}

 	

		

		<ul style ="text-align: center; background-color:yellow;  margin: 100px 100px 100px 100px">
		{% for post in object_list %}
			<li>{{post.title }} - {{post.author}} <br/>
			{{post.body}}</li>
		{% endfor %}
		
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/></ul>

{% endblock %}