
{% extends 'base.html' %}



{% block content %}

 	

		

		<ul style ="text-align: center; background-color:yellow;  margin: 100px 100px 100px 100px">
		{% for post in object_list %}
			<li>{{post.title }} - {{post.author}} <br/>
			{{post.body}}</li>
		{% endfor %}
		
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/>
		<h1>helllo</h1><br/></ul>

{% endblock %}
 <!---
    <ul class="nav" >
      
    
        <li class="nav-item text-light" style="font-family: Consolas"  >
          <a class="nav-link" href="#" style="color: #333333" ><p class="fs-5" >services</p></a>
        </li>
        <li class="nav-item text-light" style="font-family: Consolas"  >
          <a class="nav-link" href="#" style="color: #333333" ><p class="fs-5" >services</p></a>
        </li>
        <li class="nav-item text-light" style="font-family: Consolas"  >
          <a class="nav-link" href="#" style="color: #333333" ><p class="fs-5" >services</p></a>
        </li>
        <li class="nav-item text-light" style="font-family: Consolas"  >
          <a class="nav-link" href="#" style="color: #333333" ><p class="fs-5" >services</p></a>
        </li>
      
        
    </ul>
      -->